<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    "welcome to my website"
{{request.user.is_authenticated}}
    {% if user.is_authenticated %}
    <button type="submit"><a href="/signout">SignOuT</a></button>
    {% else %}
    <button type="submit"><a href="/signup">SignUp</a></button>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}
</body>
</html>